name: Unit Tests
on: [push,pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go: [1.25]
        os: [ubuntu-latest]
        make_target: [lint, test]

    steps:
      - name: Check out code repository source code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Set up golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          install-only: true

      # https://help.github.com/en/actions/reference/workflow-commands-for-github-actions
      - name: Set build variables
        run: |
          echo "MAKE_TARGET=${{ matrix.make_target }}" >> $GITHUB_ENV

      - name: Run ${{matrix.make_target}}
        run: |
          make $MAKE_TARGET
